<div class="right">
    <span class="wait" data-rel="{{comment.pk}}"></span>
    <span class="message-comment" data-rel="{{comment.pk}}"></span>
    <span class="agree-count {%if user.is_authenticated%}agree{%else%}need-connection{%endif%}" data-rel="{{comment.pk}}" data-wall="{{ user.username }} aime le message de {{ comment.user.username }}" data-wall-url="#{{ comment.pk }}">
        {{comment.likeit}}
    </span>
    {%with comment.get_likeits as likeits%}
        <div class="comment-user" data-rel="{{comment.pk}}" data-role="likeit">
            <div class="comment-title">Je suis d'accord</div>
            {%if likeits%}
                <div class="comment-subtitle">Ces utilisateurs ont aussi<br/>exprimé leur accord</div>
                {%for likeit in likeits%}
                    <div class="comment-row">
                    	<img src="{{likeit.user.profile.avatar_or_default}}" class="small-avatar" />
                    	{{likeit.user.username}}
                    </div>
                {%endfor%}
            {%endif%}
        </div>
    {%endwith%}
    <span class="disagree-count {%if user.is_authenticated%}disagree{%else%}need-connection{%endif%}" data-rel="{{comment.pk}}"  data-wall="{{ user.username }} n'apprecie pas le message de {{ comment.user.username }}" data-wall-url="#{{ comment.pk }}">
        {{comment.dislikeit}}
    </span>
    {%with comment.get_dislikeits as dislikeits%}
        <div class="comment-user" data-rel="{{comment.pk}}" data-role="dislikeit">
            <div class="comment-title">Je ne suis pas d'accord</div>
            {%if dislikeits%}
                <div class="comment-subtitle">Ces utilisateurs ont aussi<br/>exprimé leur déaccord</div>
                {%for likeit in dislikeits%}
                    <div class="comment-row"><img src="{{likeit.user.profile.avatar_or_default}}" class="small-avatar" /> {{likeit.user.username}}</div>
                {%endfor%}
            {%endif%}
        </div>
    {%endwith%}
</div>
