{% load ucomment_tags i18n %}
<hr/>
{% if messages %}
    <ul class="ucomment">
    {% for message in messages %}
        <li class="ucomment-{{ message.tags }}">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form method="post" action="{% url 'ucomment_add_comment' %}" class="ucomment" data-ucomment>
    {% csrf_token %}
    {# This tag is required #}
    {% ucomment_path %}
    <div>
        <textarea class="ucomment" name="ucomment-content"></textarea>
    </div>
    <div>
        <input type="submit" value="{% trans 'Send' %}" />
        <input type="file" multiple name="ucomment-files" accept="image/*" />
    </div>

    {# To display a progress bar you only have to create a HTML Element with the ID "ucomment-progress" #}
    <div id="ucomment-progress"></div>
</form>