{% load ucomment_tags i18n %}
<hr/>
{% if messages %}
    <ul class="ucomment">
    {% for message in messages %}
        <li class="ucomment-{{ message.tags }}">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form method="post" action="{% url 'ucomment_add_comment' %}" class="ucomment" data-ucomment>
    {% csrf_token %}
    {% ucomment_path %}
    <div class="ucomment-form-row">
        <textarea class="ucomment" name="ucomment-content"></textarea>
    </div>
    <div class="ucomment-form-row">
        <input type="submit" value="{% trans 'Send' %}" />
        <input type="file" multiple name="ucomment-files" accept="image/*" />
    </div>
</form>