{#                              #}
{#  LIKE / DISLIKE / ABUSE BAR  #}
{#                              #}
{% load i18n ucomment_tags %}
{% if ucomment_get_preferences.use_like_dislike %}
    {% if ucomment_get_preferences.only_registred %}
            <div class="ucomment-likedislike">
                <span id="ucomment-likeit-{{ comment.pk }}">{{ comment.likeit }}</span>
            {% if user != comment.user %} {# Users can't vote for themselves #}
                <a href="{% url 'ucomment_like_it' comment.id %}"
                   data-ucomment-like="{{ comment.pk }}"
                   title="{% trans "Click here if you 't like it" %}">
                {% trans 'people like it'%}</a>
            {% else %}
                {% trans 'people like it' %}
            {% endif %} |
                
                <span id="ucomment-dislikeit-{{ comment.pk }}">{{ comment.dislikeit }}</span>
            {% if user != comment.user %}
                    <a href="{% url 'ucomment_dislike_it' comment.id %}"
                   data-ucomment-dislike="{{ comment.pk }}"
                   title="{% trans "Click here if you don't like it" %}">
                {% trans "people don't like it" %}</a>
            {% else %}
                {% trans "people don't like it" %}
            {% endif %}
                    
            {% if user != comment.user and not user|ucomment_user_has_declared_abuse:comment %}
                |
                <a href="{% url 'ucomment_report_abuse' comment.pk %}"
                   title="{% trans 'Report an abuse to the web site administrator' %}"
                   data-ucomment-report-abuse="{{ comment.pk }}">
                    {% trans 'Report abuse' %}
                </a>
            {% endif %}
            </div>
    {% endif %}
{% endif %}
