{#                          #}
{# Display a single comment #}
{#                          #}
{% load i18n %}
<section class="ucomment" id="comment-{{ comment.pk }}">
    <header class="ucomment">
        {% trans 'By' %} <strong>{{ comment.user }}</strong>
        <small>{% trans 'On' %} {{ comment.submission_date }}</small>
        {% include 'ucomment/like-dislike.html' %}
    </header>
    <article class="ucomment">
        {{ comment.content|safe  }}
    </article>
    <footer class="ucomment">
        <div class="ucomment-reply" style="float:right">
            <a href="#">{% trans 'Reply' %}</a>
        </div>
        <br style="clear: both" />
    </footer>
    {% if comment.get_response %}
        {% for response in comment.get_response %}
            {% with response as comment %}
                {% include 'ucomment/single_comment.html' %}
            {% endwith %}
        {% endfor %}
    {% endif %}
</section>
