{#                          #}
{# Display a single comment #}
{#                          #}
{% load i18n %}
<section class="ucomment" id="comment-{{ comment.pk }}">
    <header class="ucomment">
        {% trans 'By' %} <strong>{{ comment.user }}</strong>
        <small>{% trans 'On' %} {{ comment.submission_date }}</small>
        {% include 'ucomment/like-dislike.html' %}
    </header>
    <article class="ucomment">
        {{ comment.content|safe }}
    </article>
    <footer class="ucomment">
        <div style="float:right">
            <a href="#">{% trans 'Reply' %}</a>
        </div>
        <br style="clear: both" />
    </footer>
</section>
